.brand {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  mat-icon {
    font-size: 28px;
    width: 28px;
    height: 28px;
  }
}

.spacer {
  flex: 1 1 auto;
}

a.active {
  background: rgba(255, 255, 255, 0.15);
}
